/* General Styles */
.assistant-container {
  padding: 1rem;
}

.assistant-placeholder {
  color: var(--text-muted);
  font-style: italic;
}

/* Section Styles */
.assistant-section {
  margin-bottom: 1.5rem;
}

.assistant-section-header {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--text-normal);
  display: flex;
  align-items: center;
}

.assistant-section-icon {
  margin-right: 0.5rem;
}

/* Active Note Styles */
.active-note-title {
  font-size: 1.1rem;
  color: var(--text-accent);
  margin-bottom: 1rem;
}

/* Tags Styles */
.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.tag {
  background: var(--background-secondary);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
  color: var(--text-normal);
  cursor: pointer;
}

.tag:hover {
  color: var(--nav-item-color-hover);
  background-color: var(--nav-item-background-hover);
  font-weight: var(--nav-item-weight-hover);
}

/* Alias and Folder Styles */
.alias-container,
.folder-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.alias,
.folder {
  font-size: 1rem;
  color: var(--text-normal);
}

/* Button Styles */
.add-alias-button,
.move-note-button,
.format-button,
.assistant-view-button,
.load-similar-files-button {
  background: white;
  color: var(--text-normal);
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.add-alias-button:hover,
.move-note-button:hover,
.format-button:hover,
.rename-alias-button:hover,
.load-similar-files-button:hover {
  background: var(--interactive-accent);
  border-color: var(--interactive-accent);
  color: white;
}

/* Files Container Styles */
.files-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.file a {
  color: var(--text-accent);
  text-decoration: none;
}

.file a:hover {
  text-decoration: underline;
}

/* Settings Styles */
.settings-cta-button {
  margin-bottom: var(--size-4-4);
}

/* Skeleton Loader Animation */
.skeleton-loader {
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

/* Setting Tabs Styles */
.setting-tabs {
  display: flex;
  flex-direction: column;
}

.setting-tab-headers {
  display: flex;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
}

.setting-tab-header {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: none;
  flex: 1;
  text-align: center;
  transition: background 0.3s, color 0.3s;
}

.setting-tab-header:hover {
  background: var(--background-modifier-hover);
}

.setting-tab-header.active {
  border-color: #ddd;
  border-bottom-color: #fff;
  background: var(--background-modifier-active-hover);
  border-radius: 5px 5px 0 0;
  font-weight: bold;
}

.setting-tab-contents {
  flex-grow: 1;
}

.setting-tab-content {
  display: none;
}

.setting-tab-content.active {
  display: block;
}

/* Login Button Styles */
.file-organizer-login-button {
  margin-bottom: 1rem;
}

/* Utility Classes */
.small-text {
  font-size: 0.8rem;
  color: var(--text-muted);
}

.notice.success {
  background-color: #4caf50;
  color: white;
}

/* AI Chat Sidebar Styles */
.ai-chat-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--background-primary);
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  color: var(--text-normal);
}

.message {
  display: flex;
  align-items: start;
  margin-bottom: 1rem;
}

.message-content {
  margin-left: 0.5rem;
  position: relative;
  padding: 10px;
  margin: 5px 0;
}

.assistant-message,
.user-message {
  user-select: text;
}

.user-message {
  background-color: var(--background-secondary);
}

/* Chat Input Form Styles */
.chat-input-form {
  display: flex;
  align-items: flex-end;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.chat-input-form button {
  align-self: flex-end;
  height: 2.37rem;
  width: 2.85rem;
  padding: 0.5rem;
}

.chat-input-form button:hover {
  background-color: var(--interactive-accent);
  color: white;
}

.chat-input-form button svg {
  width: 1.5rem;
  height: 1.5rem;
}

/* Error Message Styles */
.error-message {
  padding: 10px;
  margin: 0;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
}

/* Tiptap Editor Styles */
.tiptap-wrapper {
  flex-grow: 1;
  margin-right: 0.5rem;
}

.tiptap {
  border: 1px solid var(--background-modifier-border);
  border-radius: 4px;
  padding: 8px;
  min-height: 20px;
  max-height: 500px;
  overflow-y: auto;
  background-color: var(--background-primary);
}

.tiptap:focus {
  outline: none;
  border-color: var(--interactive-accent);
}

.tiptap p {
  margin: 0;
}

/* Miscellaneous */
.retry-button {
  margin-top: 0.5rem;
}


/* Basic editor styles */
.tiptap {
  :first-child {
    margin-top: 0;
  }

  .mention {
    background-color: var(--interactive-accent);
    border-radius: 0.4rem;
    box-decoration-break: clone;
    color: var(--color-base-10);
    padding: 0.2rem 0.3rem;
  }
}