# Uncomment lines below for a fully local setup
# MODEL_FOLDERS=llama3
# MODEL_RELATIONSHIPS=llama3
# MODEL_TAGGING=llama3
# MODEL_NAME=llama3
# MODEL_TEXT=llama3
# MODEL_VISION=llava-llama3


### The fastest way to get started is just to add your OpenAI API key to the .env file.
OPENAI_API_KEY="sk-